@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

:root{
    --white-color: #fafaff;
    --dark-color: #101010;
} 

:root{
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 7rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: 1rem;
}


:root{
    --z-fixed: 100;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    line-height: 1.6;
    min-width: 250px;
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 3.5rem 0;
    width: 100%;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    text-align: center;
}

.section-all{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    text-align: center;
}

.l-header{
    width: 100%;
    height: auto;
    padding: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #ecc371 30%, #ecb023 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #dac188 62.5%, #d8c79e 100%);
}

.nav{
    padding-left: 1rem;
    padding-right: 4rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_menu{
    display: inline-block;
}

.nav_menu ul li{
    display: inline;
}

.nav_item a{
    border-style: dashed;
    margin: 0.3rem;
    padding: 0.1rem;
    color:rgb(105, 107, 107);
    font-size: 1.8rem;
    font-weight: var(--font-semi);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
}

.nav_item a:hover, .nav_cart:hover, .nav_toggle:hover, #active{
    color: rgb(219, 20, 70);
}

.nav_logo{
    font-weight: var(--font-bold);
    font-size: 2.5rem;
    font-family: candara;
    color:rgb(48, 66, 87);    
}

.nav_cart, .nav_toggle{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.l-main{
    background-color: #e9adad;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f8dbdb 74%);
    align-items: center;
    display: inline-block;
    width: 100%;
}

.home{
    background-color: red;
    background-image: linear-gradient(315deg, red 10%, #f5f7fa 74%); 
}

.home_container{
    height: calc(100vh - var(--header-height));
    width: 100%;
    align-items: center;
}

.home_data{
    text-align: center;
    height: 80%;
    padding-top: 6rem;
    margin: auto;
}

.home_title{
    text-align: center;
    width: 90%;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
    -webkit-text-stroke: 0.3vm red;
}

.home_title::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 10rem;
    width: 0;
    height: fit-content;
    color: rgb(100, 105, 104);
    border-right: 0px solid black;
    overflow: hidden;
    animation: animate 6s linear infinite;
}


@keyframes animate{
    0%, 10%, 100%{
      width:0%;
    }
    70%,90%{
      width:98%;
      color: rgb(221, 194, 144);
    }
}

.home_title span{
    color: rgb(196, 137, 69);
}

.home_title span{
    font-size: var(--h1-font-size);
}

.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
}

.button{
    margin: auto;
    width: fit-content;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: 0.3s;
    border-radius: 0.6rem;
}

.button:hover{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #d18790 0%, #b91372 74%);
}

.collection{
    width: 100%;
    align-items: center;
}

.collection_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.collection_box{
    display: inline-block;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    margin: 1rem auto;
    background-color: #fffffc;
    background-image: linear-gradient(315deg, #fffffc 0%, #fce0e4 74%);
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgb(110, 107, 107);
}

.collection_box:hover{
    transform: translateY(-0.5rem);
}

.collection_img{
    width: 100px;
    margin: 1rem;
}

.collection_title{
    font-size: var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
}

.collection_subtitle{
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
}

.collection_view{
    font-size: 16px;
    font-weight: bolder;
    color: rgb(133, 134, 141);
}

.collection_view:hover{
    text-decoration: none;
    color: rgb(48, 66, 87);
}

.featured{
    align-items: center;
    width: 100%;
}

.featured_container{
    row-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
}

.featured_product{
    transition: 0.3s;
    display: block;
    align-items: center;
    margin: auto;
    width: fit-content; 
}

.featured_product:hover{
    transform: translateY(-0.5s);
}

.featured_box{
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fffffc;
    background-image: linear-gradient(315deg, #ebc7c7a2 0%, #beb7a4 74%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(99, 96, 96);
}

.featured_new{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    color: var(--white-color);
    padding: 0.3rem 0.75rem;
    font-size: var(--small-font-size);
}

.featured_img{
    width: max-content;
    margin: 1rem;
}

.featured_data{
    text-align: center;
}

.featured_name{
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
}

.featured_preci{
    color: var(--dark-color-light);
    font-weight: var(--font-semi);
}

.offer_bg{
    text-align: center;
    background-color: #fff293;
background-image: linear-gradient(315deg, #fff293 0%, #ffe884 74%);
}

.offer_data{
    padding: 3.5rem 0.25rem;
    background: rgba(0,0,0,0.5);
    color: var(--white-color);
}

.offer_title{
    font-size: var(--h1-font-size);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: var(--font-semi);
}

.offer_description{
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;

}

.new_container{
    margin-top: 1rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
}

.new_box{
    position: relative;
    width: 25rem;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #fffffc;
    background-image: linear-gradient(315deg, #fffffc 0%, #beb7a4 74%);
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(104, 103, 102);
}

.new_box:hover .new_link{
    bottom: 0;
    background-image: linear-gradient(to top, rgb(189, 252, 243),rgb(241, 255, 164));
}

.new_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229,89,71,0.2);
    transition: 0.3s;
}

.newsletter{
    text-align: center;
}

.newsletter_description{
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
}

.newsletter_form{
    display: grid;
    grid-template-columns: 1fr 0fr;
    float: left;
    width: 45%;
}

.newsletter_input{
    outline: none;
    border: none;
    background-color: #b3cdd1;
    background-image: linear-gradient(-215deg, #818a8b 10%, #cacbd1 10%);
    padding: 0 0.2rem;
    width: 100%;
}

.newsletter_form a{
    float: left;
}

.sponsors{
    margin-top: 1px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.sponsors_container{
    row-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sponsors_logo{
    display: flex;
    justify-content: center;
    margin: auto;
}

.sponsors_logo img{
    width: 5rem;
    filter: opacity(50%);
}

.sponsors_logo img:hover{
    filter: none;
}

.footer{
    background-color: var(--dark-color);
    color: var(--white-color);
}

.footer_container{
    row-gap: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_box{
    margin: 0rem auto;
}

.footer_title{
    margin-bottom: var(--mb-1);
}

.footer_title li{
    color: gainsboro;
}

.footer_deal{
    margin-bottom: var(--mb-2);
}

.footer_store{
    width: 100px;
}

.footer_link, .footer_social{
    color: wheat;
}

.footer_link:hover{
    text-decoration: none;
    color: rgb(141, 210, 30);
}

.footer_social{
    font-size: 1.3rem;
    margin-right: var(--mb-1);
}

.footer_copy{
    border-top: 1px solid var(--dark-color-light);
    padding-top: 3rem;
    text-align: center;
    color: var(--dark-color-light);
    font-size: var(--small-font-size);
}

@media screen and (max-width: 700px) {
    .l-header{
        padding: 1rem;
    }
    
    .nav_item a, .nav_logo, .nav_toggle, .nav_cart{
        font-size: 1.6rem;
    }

    .home_title{
        font-size: 6rem;
    }

    .nav_list{
        width: 100%;
    }

    .home_title span{
        font-size: 2rem;
    }

    .button{
        font-size: small;
    }

    .collection_box{
        width: 7rem;
        font-size: medium;
        margin: 1rem auto;
    }

    .collection_title{
        font-weight: bolder;
        font-size: 2rem;
        margin: auto;
    }

    .collection_subtitle{
        font-weight: bolder;
        font-size: 1.3rem;

    }

    .featured_box, .new_box{
        width: 10rem;
    }

    .newsletter_form{
        width: 85%;
        font-size: 0.1rem;
    }
    
}

@media screen and (max-width: 400px) {
    .nav{
        padding: 1rem;
        display: flex;
    }

    .home_container{
        height: 30rem;
    }

    .nav_menu ul li{
        display: block;
    }

    .nav_item a{
        font-size: 1.3rem;
        margin: 0.1rem;
    }

    .nav_logo{
        font-size: 1.4rem;
    }

    .nav_toggle, .nav_cart{
        font-size: 1.5rem;
        padding-right: 0.6rem;
    }

    .home_title{
        font-size: 2rem;
    }

    .home_title span{
        font-size: 1.5rem;
    }

    .button{
        font-size: small;
    }

    .collection_box{
        width: 3.7rem;
        font-size: medium;
        margin: 1rem auto;
    }

    .collection_title{
        font-weight: bolder;
        font-size: 1.2rem;
        margin: auto;
        margin-top: 0.3rem;
    }

    .collection_subtitle{
        font-weight: bolder;
        font-size: 1rem;

    }

    .featured_box, .new_box{
        width: 10rem;
    }

    .newsletter_form{
        width: 85%;
        font-size: 0.1rem;
    }

    .home{
        padding-top: 10rem;
    }
       
    .home_title::before{
        top: 15rem;
    }

    .newsletter_input{
        height: 2.7rem;
        padding-right: 1rem;
    }

    .newsletter_form .button{
        height: 0.75rem;
        margin: auto 1rem;
    }

    .sponsors_logo img{
        width: 3rem;
    }

}

@media screen and (max-width:300px) {

    .nav_cart, .nav_toggle{
        padding-right: 0.8rem;
    }
}
